// Global setings
        
html
    background-color: #000
    font-family: 'Montserrat', sans-serif
    color: #fff 
h1
    font-size: 20px
    @media (min-width: 375px)
        font-size: 22px
h2  
    font-size: 16px
    line-height: 25px
    margin-top: 70px
p
    font-size: 12px
    line-height: 18px
span
    color: #52affe
a
    text-decoration: none
    color: #fff
li
    list-style: none
section
    min-height: 100vh
    overflow: hidden
    position: relative
    width: 100%
    text-align: center
.buyNowBtn
    background-color: transparent
    border: 2px solid #52affe
    border-radius: 25px
    width: 80px
    padding: 7px 20px
    color: #fff
    &:hover
        background-color: #52affe 
.description__article-active
    padding: 15px 25px
    border: 2px solid #52affe
    border-radius: 70px

//  section   Header   +    Aside as Mobile Menu

    
.header
    &::before
        position: absolute
        content: ''
        display: block
        bottom: 0
        min-width: 100%
        height: 100vh
        background-image: url(../img/headerBgMobile.svg)
        background-repeat: no-repeat
        background-size: contain
        background-position: center bottom
        @media (min-width: 568px) and (orientation: landscape)
            background-image: url(../img/headerBgMobileLandscape.svg)
            bottom: 0
        @media (min-width: 812px) and (orientation: landscape)
            background-image: url(../img/headerBgMobileLandscapeIphoenX.svg)
            bottom: 0px
    &__nav
        position: fixed
        height: 50px
        width: 100%
        background-color: rgba(0,0,0,.8)
        z-index: 999
        &--logo
            position: absolute
            top: 50%
            transform: translateY(-50%)
            margin-left: 15px
            background-image: url(../img/Iron_medi_logo.png)
            background-repeat: no-repeat
            background-size: contain
            height: 40px
            width: 50%
        .hamburger
            position: absolute
            right: 0
            top: 50%
            transform: translateY(-50%)
            margin-right: 5px        
    &__description
        padding-top: 50px
        &--img
            max-width: 100%
            @media (min-width: 568px) and (orientation: landscape)
                position: absolute
                max-width: 50%
                left: 0
                top: 10px
                z-index: -1
            @media (min-width: 812px) and (orientation: landscape)
                max-width: 40%
            
        &--action
            position: absolute
            top: 58%
            left: 50%
            transform: translateX(-50%)
            display: flex
            flex-direction: column
            width: 280px
            justify-content: center
            align-items: center
            text-align: center
            @media (min-height: 570px) and (orientation: portrait)
                top: 60%
            @media (min-height: 812px) and (orientation: portrait)
                top: 66%
            @media (min-width: 568px) and (orientation: landscape)
                top: 20%
                left: 66%
                align-items: flex-end
        &--motto
            @media (min-width: 568px) and (orientation: landscape)
                text-align: right
            &::after
                content: ''
                display: block
                margin: 15px auto -15px
                width: 150px
                height: 2px
                background-color: #fff
                @media (min-width: 568px) and (orientation: landscape)
                    position: absolute
                    right: 0
        &--text
            margin-bottom: 28px
            @media (min-width: 568px) and (orientation: landscape)
                text-align: right
    &__aside
        display: none
        overflow: hidden
        z-index: 998   
        &--active
            position: relative
            position: fixed
            display: block
            height: 100vh
            width: 100%
            background-color: #000
            &::after
                content: ''
                display: block
                position: absolute
                width: 100%
                height: 100vh
                bottom: -10px
                background-image: url(../img/aside__mobile.svg)
                background-position: center bottom
                background-size: contain
                background-repeat: no-repeat
                z-index: -1
                @media (min-width: 568px) and (orientation: landscape)
                    background-image: url(../img/assideBgMobileLanscape.svg)
                    bottom: 8vh
                @media (min-width: 812px) and (orientation: landscape)
                    bottom: -8vh
                @media (min-width: 820px) and (orientation: landscape)
                    bottom: -2vh
        &--menu
            position: relative
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 60%
            height: 70vh
            top: 10vh
            padding: 0
            margin: 0 auto
            border-bottom: 1px solid #52affe
            @media (min-height: 812px) and (orientation: portrait)
                top: 16vh
            @media (min-width: 568px) and (orientation: landscape)
                height: 50vh
                width: 40%
                top: 25vh
                margin: 0 20%
                border-bottom: none
                border-right: 1px solid #52affe
        &--link
            text-align: center
            font-size: 26px
            line-height: 70px
            border-bottom: 2px solid transpatent
            @media (min-width: 568px) and (orientation: landscape)
                line-height: 50px
            &:hover
                border-bottom: 2px solid #52affe
                color: #52affe
        p
            position: absolute
            left: 50%
            transform: translateX(-50%)
            bottom: 20vh
            margin-bottom: 10px
            @media (min-height: 812px) and (orientation: portrait)
                bottom: 14vh
            @media (min-width: 568px) and (orientation: landscape)
                bottom: 5vh
    &__socialMedia
        position: absolute
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        bottom: 2vh
        width: 100%
        height: 100px
        @media (min-width: 568px) and (orientation: landscape)
            flex-direction: column
            width: 40%
            bottom: 0
            top: 20vh
            right: 10%
            height: 60vh
            // transform: translateY(-50vh)
        &--links
            width: 60px
            height: 60px
            background-position: center center
            background-repeat: no-repeat
            @media (min-width: 568px) and (orientation: landscape)
                width: 40px
                height: 40px
        &--fb
            background-image: url(../ico/Facebook.svg)
        &--in
            background-image: url(../ico/Instagram.svg)
        &--de
            background-image: url(../ico/DeLuxus.svg)
        &--sh
            background-image: url(../ico/corb.svg)


// section Usage

.usage
    width: 70%
    margin: 0 auto
    text-align: center
    &__titel
        margin: 100px auto 75px
        text-align: center
        line-height: 25px
        @media (min-width: 667px) and (orientation: landscape)
            width: 80%
        @media (min-width: 812px) and (orientation: landscape)
            width: 70%
    &__container
        display: grid
        grid-gap: 40px
        @media (min-width: 768px)
            grid-template-columns: 1fr 1fr
        &--element
            display: flex
            flex-direction: column
            align-items: center
        &--ico
        &--button
            // margin-top: 25px
        &--description
            display: block
        &--description-active
            display: none
        &--description-more
            display: none
        &--description-moreActive
            display: block
    &__container--button
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 60px
        width: 120px
        cursor: pointer
        margin-bottom: 50px
        &-description
            margin-bottom: 25px
            font-size: 14px
        &-btn
            width: 20px
            height: 1px
            background-color: #52affe
            transition: .3s
            &::after
                display: block
                content: ''
                width: 20px
                height: 1px
                background-color: #52affe
                transform: rotate(90deg)
            &-active
                transform: rotate(45deg)


// section Price

.price   
    @media (min-width: 568px) and (orientation: landscape)
            min-height: 750px
    &::before
        position: absolute
        content: ''
        display: block
        top: 70px
        min-width: 100%
        height: 100%
        background-image: url(../img/priceBgMobile.svg)
        background-repeat: no-repeat
        background-size: contain
        background-position: center top
        z-index: -1
        @media (min-height: 812px) and (orientation: portrait)
            top: 100px
        @media (min-width: 568px) and (orientation: landscape)
            background-image: url(../img/priceBgMobileLandscape.svg)
    &__heading
        // margin-top: 70px
        @media (min-height: 812px) and (orientation: portrait)
            margin-top: 120px
    &__elements
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-top: 60px
        @media (min-height: 812px) and (orientation: portrait)
            margin-top: 80px
        &--element
            position: relative
            width: 140px
            height: 150px
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
            background: linear-gradient(180deg, rgba(82,175,254,1) 33%, rgb(0,0,0) 100%)
            margin-bottom: 30px
            @media (min-width: 375px) and (orientation: portrait)
                width: 160px
                height: 170px
                margin-bottom: 40px
        &--text
            position: absolute  
        &--package
            padding-bottom: 5px
            font-size: 14px
            top: 22%
            left: 50%
            transform: translate(-50%, -50%)
            border-bottom: 2px solid #fff
        &--price
            font-size: 40px
            top: 40%
            left: 50%
            transform: translate(-50%, -50%)

// section About


.about
    width: 70%
    margin: 0 auto
    &__text
        margin: 50px 0
        @media (min-height: 812px) and (orientation: portrait)
            margin: 75px 0
    &__chemi
        width: 100%
        margin-bottom: 50px
        @media (min-height: 812px) and (orientation: portrait)
            margin-bottom: 0
        @media (min-width: 568px) and (orientation: landscape)
            width: 60%

// section BuyNow

.buy
    position: relative
    @media (min-width: 568px) and (orientation: landscape)
            min-height: 600px
    &::after
        display: block
        content: ''
        position: absolute
        bottom: 0
        min-width: 100%
        height: 100%
        background-image: url(../img/priceBgMobile.svg)
        background-repeat: no-repeat
        background-size: contain
        background-position: center bottom
        z-index: -1
        @media (min-height: 667px) and (orientation: portrait)
            bottom: -40px
        @media (min-height: 812px) and (orientation: portrait)
            bottom: 50px
        @media (min-width: 568px) and (orientation: landscape)
            background-image: url(../img/priceBgMobileLandscape.svg)
            bottom: 0
        @media (min-width: 667px) and (orientation: landscape)
            bottom: -50px   
    &__produckt
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-top: 70px
        @media (min-height: 812px) and (orientation: portrait)
            margin-top: 120px
        @media (min-width: 568px) and (orientation: landscape)
            margin-top: 0
        @media (min-width: 812px) and (orientation: landscape)
            margin-top: 150px
        &--img
            margin-top: 50px
            

        &--btn
            margin-bottom: 50px
